*{
    font-family: 'Courier New', Courier, monospace;
}

body,h1 {
    margin: 0;
    padding: 0;
    border: none;
}
h1,footer{
    width: 100vw;
    background-color: rgb(66, 45, 45);
    text-align: center;
    color: white;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

h1,h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
li{
    margin: 2vh;
    transition: all 0.5s ease;
}
img{
    transition: all 0.5s ease;
}

footer{
    padding: 2vh;
}

.content{
    width: 100vw;
    height: 80.7vh;
    /* display: flex;
    gap: 2vh;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: rgb(97, 171, 134);
    padding-top: 2vh;
}

.biography,.achievements{
    width: 92%;
    background-color: rgb(226, 255, 235);
    padding: 2vh 2vw ;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.achievements{
    margin-top: 3vh;
}


li:hover{
    text-decoration: underline;
    font-weight: bold;
    transition: all 0.2s ease;
}
img:hover{
    rotate: 15deg;
    border-radius: 100%;
    scale: 1.1;
}
p:hover{
    font-style: italic;
}


